h3 {
  width: 100%;
  text-align: center;
}

.modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}
.modal.hidden {
  display: none;
}
.modal-content {
  max-height: 90vh;
  font-weight: 500;
  background-color: black;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 10px 5px rgb(73 73 73 / 20%);
}

#mainTitle {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
}

#formEditGateway {
  padding: 1rem 10%;
  justify-items: start;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

.delete {
  float: left;
  cursor: pointer;
  width: 20px !important;
  opacity: 0.3;
  transition: all 0.2s ease;
}

.delete:hover {
  opacity: 1;
}

form > label > input,
form > label > select,
#inputsEngrasadoras > div > div > input {
  margin: 5px 0 !important;
}

#formEditGateway input,
#formEditGateway .row.padding.gap {
  height: 24px;
}

#gw-linea {
  background-color: transparent !important;
  border: transparent !important;
  color: var(--color-texto) !important;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.row.padding {
  padding: 0 1rem;
}

.row.gap {
  gap: 10px;
}

label.row {
  width: 100%;
}
.edit {
  opacity: 0.3;
  transition: all 0.2s ease;
}
.edit:hover {
  opacity: 1;
}

#sectionEngrasadoras {
  width: 100%;
  grid-column: 1 / -1;
}

#conectadasContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 0 10%;
}

input.id {
  width: 10rem;
  margin: 5px 0;
}

.titleBorder {
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  border-top: 1px solid #ffffff5c;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.editableInput {
  width: 9rem;
  padding: 2px 0.5rem;
}

#bypassBtn {
  opacity: 0.5;
}

#bypassBtn:hover {
  opacity: 1;
}

.bypassed {
  color: var(--color-error);
}
.activated {
  color: var(--color-pstv);
}

#historialContainer {
  margin: 0.5rem 3rem 0 3rem;
  border-top: 1px solid #ffffff5c;
}

#historialContainer > h6 {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  letter-spacing: 2px;
}

#historialContainer {
  overflow-y: auto;
  height: 15rem;
}

#historialContainer > table > thead {
  background-color: rgba(0, 0, 0, 0.9);
  position: sticky;
  top: 0;
}

.ngtv,
td.Desconectado {
  color: var(--color-error);
}

.pstv,
td.Conectado {
  color: var(--color-pstv);
}

.sinEngradoras {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sinEngradoras > * {
  color: grey;
}
