.sideBtn {
  position: fixed;
  padding: 0.75rem 0 0.75rem 0.5rem;
  background-color: var(--color-fondo-hover);
  box-shadow: 0 2px 5px black;
  display: flex;
  transition: all 0.5s;
  bottom: 1rem;
}

#btnIngreso {
  width: 170px;
  right: -140px;
  border-radius: 10px 0 0 10px;
}
#btnIngreso:hover {
  background-color: var(--color-secundario);
  right: 0;
}

#btnTime {
  width: 150px;
  left: -120px;
  justify-content: flex-end;
  gap: 10px;
  border-radius: 0 10px 10px 0;
}
#btnTime:hover {
  background-color: var(--color-secundario);
  left: 0;
}

.chevron {
  padding: 0;
  width: 30px;
}

#modalIngreso,
#modalTime {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  z-index: 1000;
  align-items: center;
  justify-content: center;
}

.contConf {
  width: 100%;
  justify-content: space-evenly !important;
}

.label {
  text-align: center;
  margin-bottom: 5px;
}

#sectionIngreso,
#sectionTime {
  position: relative;
}

#sectionTime {
  background-color: black;
  width: 50vw;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 2px 10px 5px rgb(73 73 73 / 20%);
}

#sectionTime > h3 {
  text-align: center;
  margin-bottom: 2rem;
}
.contentSection > p {
  text-align: center;
}

.contentSection {
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#requestTime {
  width: 5rem;
  height: 2rem;
  text-align: center;
}

.closeModal {
  z-index: 2;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  cursor: pointer;
  font-size: 1.8rem;
  color: #444;
  transition: color 0.2s ease;
}

.closeModal:hover {
  color: #fff;
}

#blur {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  width: 100vw;
  height: 100vh;
}

#estadosSistema {
  z-index: 3;
  position: fixed;
  width: 15vw;
  height: 95vh;
  padding: 1rem;
  background-color: black;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out;
  top: 5vh;
}

#estadosSistema > h3 {
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
}

.statusDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #333;
}

.statusCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}

#closeStatus {
  position: absolute;
  top: 1rem;
  right: -2rem;
  cursor: pointer;
  font-size: 1.8rem;
  color: #909090;
  transition: all 0.2s ease;
}

#closeStatus:hover {
  color: white;
}

#ultimoUser {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ultimoUser > * {
  color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
}

#time,
#timeOut {
  width: 4rem;
  color: var(--color-primario);
}

#logBtnDiv {
  width: 100%;
  position: absolute;
  bottom: 1rem;
  left: 0;
  display: flex;
  justify-content: center;
}

#logsBtn {
  padding: 0.5rem 1rem;
  background-color: var(--color-secundario);
  opacity: 0.85;
  transition: all 0.2s;
}

#logsBtn:hover {
  opacity: 1;
  transform: scale(1.1);
}

#logsContent {
  position: relative;
  min-height: 50vh;
  max-height: 75vh;
  min-width: 50vw;
  max-width: 80vw;
}

#logsContent > table {
  margin-top: 1rem;
}

#logsContent > table > thead > tr {
  border-bottom: 1px solid #444;
}

#logsContainer {
  overflow-y: auto;
  height: 60vh;
}

#logsContainer > table > thead {
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 20px black;
}

#updateDiv {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
}

#updateLogs {
  display: none;
  opacity: 0.5;
  transition: all 0.1s;
}

#updateLogs:hover {
  opacity: 1;
}

#submitTime {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: var(--color-secundario);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem 0;
}

#contenedor-barra-sist {
  margin-top: 5vh;
}
