.mainSection {
  height: 100vh;
  padding-top: 6vh;
}

.contenedor-barra {
  width: 100vw;
  height: 15vh;
  padding: 1rem 5rem;
  display: flex;
  align-items: center;
}

#barraPorcentual {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.barra {
  border-radius: 3px;
  margin: 0 2px;
  transition: all 0.7s ease;
  min-height: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.barra.func {
  background-color: var(--color-pstv);
}
.barra.alert {
  background-color: var(--color-alerta);
}
.barra.desc {
  background-color: var(--color-desconectada);
}
.barra.fs {
  background-color: var(--color-error);
}

.value {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.value:hover {
  opacity: 1;
}

#contenedorMaquinas {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-content: center;
  padding: 0 2rem;
}

.card-maquina {
  background-color: rgba(0, 0, 0, 0.1);
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #ffffff80;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
}

.card-maquina:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

.card-maquina .estado {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.card-maquina .nombre {
  font-weight: bold;
}

.detalle-hover {
  position: fixed;
  min-width: 150px;
  background: black;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  display: none;
  z-index: 1000;
  pointer-events: none;
}

.card-maquina:hover .detalle-hover {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal-contenido {
  background: var(--color-primario);
  border-radius: 10px;
  width: 90%;
  height: 90%;
  position: relative;
}

.modal-contenido .cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

h4 {
  width: 100%;
}

h5 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
  padding: 1rem 0;
  background-color: var(--color-fondo-hover);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

h6 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
}

.cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  height: 100%;
  align-content: flex-start;
}

.subCont {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 25%;
  align-items: center;
  height: min-content;
}

.subCont > div > div {
  display: flex;
  gap: 1rem;
}

.contComments {
  width: 50%;
}

.subCont > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  width: 80%;
}

#newComment {
  color: black;
  all: unset;
  width: 90%;
  height: 100px;
  border: 1px solid #cccccc51;
  border-radius: 5px;
  padding: 8px;
  font-family: inherit;
  font-size: 1rem;
  resize: none;
  background: var(--color-fondo-hover);
}

.commContainer {
  width: 90% !important;
}

.commContainer > div {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
  gap: 0 !important;
}

.commContainer > div > button {
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  background-color: var(--color-fondo-hover);
}

.commContainer > div > button:hover {
  background-color: var(--color-fondo);
}

#addComment:hover {
  background-color: var(--color-pstv);
}

.dataComment {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
}

#ultimoComentario > div {
  max-height: 100px;
  overflow-y: auto;
}

.listadoComments {
  width: 70%;
  padding: 2rem;
}

#listaComentarios {
  max-height: 90%;
  overflow-y: auto;
}

.comentario-item {
  position: relative;
  margin-bottom: 1rem;
  padding-right: 2rem;
}

hr {
  margin: 1rem 0;
  border-color: rgba(255, 255, 255, 0.2);
}

.comentario-item button {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.comentario-item:hover button {
  display: inline;
}

.deleteBtn {
  color: rgba(255, 255, 255, 0.4);
  font-size: 20px !important;
}

.deleteBtn:hover {
  color: var(--color-error);
}

.cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.historial {
  width: 100%;
  height: 40vh;
  overflow-y: auto;
}

.icono-editar {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.4);
  opacity: 0.2;
  transition: opacity 0.2s;
}

.icono-editar:hover {
  color: var(--color-pstv);
  opacity: 1;
}

.icono-reset {
  color: rgba(255, 255, 255, 0.4);
}

.actionButtons {
  display: flex;
  justify-content: flex-end !important;
  width: 90% !important;
}

.reset {
  cursor: pointer;
  background-color: var(--color-fondo-hover);
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 2px;
  justify-content: center !important;
  align-items: center;
  font-size: 14px;
  gap: 10px !important;
  height: min-content;
  height: 40px;
}

#historialCompleto:hover {
  background-color: var(--color-fondo);
}

.reset:hover {
  background-color: rgba(255, 0, 0, 0.2);
}

.reset:hover .icono-reset {
  color: var(--color-error);
}

#apagarEquipo {
  background-color: black;
}

.apagar:hover {
  background-color: rgba(255, 0, 0, 0.4) !important;
}

.encender:hover {
  background-color: rgba(22, 188, 0, 0.4) !important;
}

.encender:hover .icono-reset {
  color: var(--color-pstv) !important;
}

thead {
  position: sticky;
  top: 0;
  background-color: var(--color-primario);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  max-height: max-content;
  user-select: text;
}

#resetHistorial {
  width: auto;
}

select#estado {
  background-color: var(--color-fondo-hover);
  padding: 5px 10px;
  border-radius: 5px;
  border: 0;
}

option {
  background-color: var(--color-fondo);
}

.total {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 10px 0 0 0;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0.33;
  transition: opacity 0.2s ease;
}

.total:hover {
  opacity: 1;
}

#total_value {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px 20px;
}
