main {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
  width: 50vw;
  padding: 2rem;
  background-color: var(--color-fondo-hover);
  border-radius: 2rem;
  box-shadow: 0 10px 10px black;
  padding: 2rem 7rem;
}

form > h3 {
  grid-column: span 2;
  padding: 5px 10px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

form label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 0.9rem;
}

form input,
form select {
  padding: 0.5rem;
  font-size: 0.95rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 0.25rem;
  background-color: var(--color-texto);
}

form input[type="checkbox"] {
  margin-top: 1rem;
  width: auto;
}

select,
option,
input {
  color: var(--color-primario);
}

.full {
  grid-column: 1 / -1;
}

.btn {
  grid-column: 1 / -1;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

button[type="submit"] {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: var(--color-secundario);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: var(--color-pstv);
}

#mensaje {
  grid-column: 1 / -1;
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
}

#mensaje.exito {
  color: var(--color-pstv);
}

#mensaje.error {
  color: var(--color-error);
}
