:root {
  --color-primario: #11202a;
  --color-secundario: #1f3a3b;
  --color-fondo: #252525;
  --color-texto: #ede7d8;
  --color-alerta: #fca311;
  --color-error: #d90429;
  --color-pstv: #0dae1a;
  --linea-A: #1b93c2;
  --linea-B: #cf1222;
  --linea-C: #015a9b;
  --linea-D: #05735f;
  --linea-E: #661371;
  --linea-H: #f0cd1f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  color: var(--color-texto);
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-fondo);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.funcionando > td,
.funcionando {
  color: var(--color-pstv) !important;
  /* background-color: var(--color-pstv * 0.5) !important; */
}

.alerta > td,
.alerta {
  color: var(--color-alerta) !important;
  /* background-color: var(--color-alerta) !important; */
}

.desconectada > td,
.desconectada {
  color: #888 !important;
  /* background-color: grey !important; */
}

.circle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 700;
  color: var(--color-fondo);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.A {
  background-color: var(--linea-A);
}
.B {
  background-color: var(--linea-B);
}
.C {
  background-color: var(--linea-C);
}
.D {
  background-color: var(--linea-D);
}
.E {
  background-color: var(--linea-E);
}
.H {
  background-color: var(--linea-H);
}

main {
  padding: 0 1rem;
}

header {
  display: flex;
  padding: 0.3rem 0.5rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-fondo);
  box-shadow: 0px 0px 3dvi 10px rgba(0, 0, 0, 0.5);
}

button {
  background-color: transparent;
  all: unset;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.2s;
}

button > span {
  padding: 5px;
}

button:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 0 1rem;
  scroll-snap-align: start;
}

.subtitle {
  font-size: 30px;
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 600;
  padding-bottom: 3rem;
}

.dashboard > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  margin: 1rem;
}

#chartGlobal {
  width: 400px;
  height: 400px;
}

#detalle-global {
  align-items: start;
  gap: 1rem;
}

#detalle-global > * {
  font-size: 20px;
}

#detalle-global > div {
  display: flex;
  justify-content: space-between;
  min-width: 280px;
}

#detalle-global > div > h4,
#detalle-global > div > span {
  font-weight: 700;
}

.donutLinea {
  width: 200px;
  height: 200px;
}

table {
  border-collapse: collapse;
  width: 100%;
  scroll-snap-align: start;
}

th,
td {
  border: 0px transparent;
  padding: 6px 10px;
  text-align: left;
}
