:root {
  --color-primario: #11202a;
  --color-secundario: #1f3a3b;
  --color-fondo: #252525;
  --color-texto: #ffffff;
  --color-alerta: #fca311;
  --color-error: #d90429;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  color: var(--color-texto);
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-fondo);
}

main {
  padding: 0 1rem;
}

header {
  display: flex;
  padding: 0.3rem 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-fondo);
  box-shadow: 0px 0px 3dvi 10px rgba(0, 0, 0, 0.5);
}

canvas {
  max-width: 400px;
  margin-bottom: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}

th,
td {
  border: 0px transparent;
  padding: 6px 10px;
  text-align: left;
}

button {
  background-color: transparent;
  all: unset;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.2s;
}

button > span {
  padding: 5px;
}

button:hover {
  background-color: rgba(128, 128, 128, 0.5);
}
