:root {
  --color-primario: #11202a;
  --color-secundario: #1f3a3b;
  --color-fondo: #252525;
  --color-fondo-hover: #0000004b;
  --color-texto: #fff8e9;
  --color-alerta: #fca311;
  --color-error: #d90429;
  --color-desconectada: #888;
  --color-pstv: #0dae1a;
  --color-pstv-alt: #5dbe65;
  --linea-A: #1b93c2;
  --linea-B: #cf1222;
  --linea-C: #015a9b;
  --linea-D: #05735f;
  --linea-E: #661371;
  --linea-H: #f0cd1f;
}

@font-face {
  font-family: "Material Symbols Outlined";
  src: url("/img/icons/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.icon {
  display: flex;
  margin: auto;
}

.material-symbols-outlined {
  cursor: pointer;
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  white-space: nowrap;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  color: var(--color-texto);
  user-select: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-fondo);
  overflow: hidden;
}

.funcionando > td,
.funcionando {
  color: var(--color-pstv) !important;
}

.alerta > td,
.alerta {
  color: var(--color-alerta) !important;
}

.desconectada > td,
.desconectada {
  color: var(--color-desconectada) !important;
}

.fs > td,
.fs {
  color: var(--color-error) !important;
}

.linea-label {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px;
  font-weight: 700;
  position: absolute;
  font-size: 50px;
  left: 15px;
  top: 15px;
  color: var(--color-fondo);
  opacity: 0.4;
}

.A {
  background-color: var(--linea-A);
}
.B {
  background-color: var(--linea-B);
}
.C {
  background-color: var(--linea-C);
}
.D {
  background-color: var(--linea-D);
}
.E {
  background-color: var(--linea-E);
}
.H {
  background-color: var(--linea-H);
}

.bgA {
  background-color: rgb(27, 147, 194, 0.3);
}
.bgB {
  background-color: rgb(207, 18, 34, 0.3);
}
.bgC {
  background-color: rgb(1, 90, 155, 0.3);
}
.bgD {
  background-color: rgb(5, 115, 95, 0.3);
}
.bgE {
  background-color: rgb(102, 19, 113, 0.3);
}
.bgH {
  background-color: rgba(240, 205, 31, 0.3);
}

.bgA:hover {
  background-color: rgb(27, 147, 194, 0.5);
}
.bgB:hover {
  background-color: rgb(207, 18, 34, 0.5);
}
.bgC:hover {
  background-color: rgb(1, 90, 155, 0.5);
}
.bgD:hover {
  background-color: rgb(5, 115, 95, 0.5);
}
.bgE:hover {
  background-color: rgb(102, 19, 113, 0.5);
}
.bgH:hover {
  background-color: rgba(240, 205, 31, 0.5);
}

.min-bgA {
  background-color: rgb(27, 147, 194, 0.1);
}
.min-bgB {
  background-color: rgb(207, 18, 34, 0.1);
}
.min-bgC {
  background-color: rgb(1, 90, 155, 0.1);
}
.min-bgD {
  background-color: rgb(5, 115, 95, 0.1);
}
.min-bgE {
  background-color: rgb(102, 19, 113, 0.1);
}
.min-bgH {
  background-color: rgba(240, 205, 31, 0.1);
}

.fontblack {
  color: var(--color-fondo);
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 5vh;
  padding: 0.3rem 0.5rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-fondo);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

header > h2 {
  font-size: 18px;
  letter-spacing: 1px;
}

.menu {
  position: absolute;
  top: 45px;
  right: 0;
  background-color: #222;
  border: 1px solid #444;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
  min-width: 150px;
  z-index: 1000;
}

.menu a {
  padding: 10px;
  text-decoration: none;
}

.menu a:hover {
  background-color: #444;
}

.show-menu {
  display: flex;
}

.aA:hover {
  background-color: var(--linea-A) !important;
}
.aB:hover {
  background-color: var(--linea-B) !important;
}
.aC:hover {
  background-color: var(--linea-C) !important;
}
.aD:hover {
  background-color: var(--linea-D) !important;
}
.aE:hover {
  background-color: var(--linea-E) !important;
}
.aH:hover {
  background-color: var(--linea-H) !important;
  color: var(--color-fondo) !important;
}

button {
  background-color: transparent;
  all: unset;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.2s;
}

button > span {
  padding: 5px;
}

button:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

.mandatory-scroll-snapping {
  scroll-snap-type: y proximity;
  overflow-y: auto;
  height: 100vh;
}

.mandatory-scroll-snapping > * {
  scroll-snap-align: start;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-fondo);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;
}

section {
  scroll-snap-align: start;
  transition: box-shadow 0.3s;
}

section:hover {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.subtitle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 2rem 0;
}

canvas {
  margin: 1rem;
}

.global {
  width: 40vw;
  height: 100%;
  border-right: 5px solid rgba(0, 0, 0, 0.1);
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.1);
}

.global > h3 {
  position: relative;
  text-align: center;
  top: 80px;
  font-weight: 600;
  letter-spacing: 3px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#chartGlobal {
  width: 25vw !important;
  height: auto !important;
}

.bg {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 2px;
  width: 80%;
}

.bg.g {
  padding: 12px;
}

#detalle-global > * {
  font-size: 18px;
}

#detalle-global > div {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  justify-content: center;
}

#detalle-global > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 120px;
}

.porLinea {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
}

.containerLineas {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  margin-top: 5vh;
  padding: 0 1rem;
  justify-content: space-around;
  align-content: space-around;
}

.linea {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  height: 40vh;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  position: relative;
  max-height: 350px;
}

.sinMaquinas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#sinMaquinasIcon {
  color: grey;
  font-size: 40px;
}

.centrar {
  height: 100%;
  display: flex;
  align-items: center;
}

.space-evenly {
  width: 100%;
  justify-content: space-evenly;
}

.donutLinea {
  width: 10vw !important;
  height: auto !important;
}

.detalle {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 0 0 20px 20px;
}

.detalle > div {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.detalle > div > div {
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 5px;
}

.total-linea {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 0px transparent;
  padding: 6px 10px;
  text-align: center;
}

tr:hover {
  background-color: var(--color-fondo-hover);
}

.filters {
  display: flex;
  gap: 1rem;
}

.filters > div {
  display: flex;
  flex-direction: column;
}

.filters > div > label {
  margin-bottom: 0.5rem;
}

.buscador {
  width: 100%;
  height: auto;
  padding: 2rem;
  min-height: 100vh;
}

.buscador > h3,
.analytics > h3 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 2rem 1rem 1rem 1rem;
}

.filters input,
.fselect,
.fselect > option {
  background-color: var(--color-texto);
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

#buscador {
  width: 250px;
}

.buscador > table {
  margin: 1rem 0 5rem 0;
}

.analytics {
  height: 100vh;
  width: 100%;
  padding-top: 3vh;
}

#analytics-global {
  width: 80% !important;
  height: auto !important;
}

.modalBase {
  background-color: black !important;
  box-shadow: 0 2px 10px 5px rgb(73 73 73 / 20%) !important;
}

#tabla {
  background-color: #1d1d1d;
  margin: 10px 0;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.2);
}

#theadbuscador {
  position: sticky;
  top: 0;
  background-color: #1d1d1d;
}

#actionsTable {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

#actionsTable button {
  padding: 5px;
  color: grey;
}

#actionsTable button:hover {
  color: var(--color-texto);
  background-color: transparent;
}

footer {
  opacity: 0.2;
  display: flex;
  font-size: 12px;
  justify-content: center;
  gap: 1rem;
  padding: 5px;
}

.pointer {
  cursor: pointer;
}
