#cerrarAnalytics {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#message-analytics {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.analytics-container {
  height: 100%;
  width: 100%;
  align-content: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 3vw;
}

.chart {
  width: 100%;
  height: 39vh;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--color-texto);
}

#barraInferior {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px;
}

#abrirAnalyticsLinea {
  display: flex;
  gap: 5px;
  padding: 5px 10px;
  cursor: pointer;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: var(--color-fondo-hover);
  opacity: 0.5;
  transition: all 0.2s ease;
}

#abrirAnalyticsLinea:hover {
  opacity: 1;
  background-color: black;
}
