h3 {
  text-align: center;
  padding: 1rem 0;
  font-weight: 600;
  background-color: var(--color-fondo-hover);
}

#cerrarHistorialCompleto {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#modalHistorialCompleto > .modal-contenido {
  margin-top: 1rem;
  height: 90vh;
}

.modal-body {
  height: 80vh;
  overflow-y: auto;
}

.tabla-scrollable {
  max-height: 80vh;
  overflow-y: auto;
}

.tabla-scrollable thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

#filtros-tabla > th > .filtro {
  color: black;
  padding: 0.3rem 0.5rem;
  background-color: var(--color-texto);
  border-radius: 5px;
}

#filtros-tabla > th > input[type="checkbox"] {
  width: 16px;
  height: 16px;
}
