.sideBtn {
  position: fixed;
  padding: 0.75rem 0 0.75rem 0.5rem;
  background-color: var(--color-fondo-hover);
  box-shadow: 0 2px 5px black;
  display: flex;
  transition: all 0.5s;
  bottom: 1rem;
  z-index: 2;
}

#btnAddMaq {
  width: 110px;
  left: -80px;
  justify-content: flex-end;
  gap: 10px;
  border-radius: 0 10px 10px 0;
}
#btnAddMaq:hover {
  background-color: var(--color-secundario);
  left: 0;
}

.plus {
  padding: 0;
  width: 30px;
}

#modalIngresoMaq {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}

#cerrarModalIngreso {
  top: 20px;
  right: 20px;
}

#formEngrasadora,
#formGateway,
#formEditGateway {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 50vw;
  padding: 2rem;
  background-color: black;
  border-radius: 2rem;
  box-shadow: 0 10px 10px black;
  padding: 2rem 7rem;
}

#formEngrasadora > h3,
#formGateway > h3,
#formEditGateway > h3 {
  grid-column: span 2;
  padding: 5px 10px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
}

#formEngrasadora label,
#formGateway label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 0.9rem;
}

#formEngrasadora input,
#formEngrasadora select,
#formGateway input,
#formGateway select,
#formEditGateway input,
#formEditGateway select {
  padding: 0.5rem;
  font-size: 0.95rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 0.25rem;
  background-color: var(--color-texto);
}

#formEngrasadora input[type="checkbox"],
#formGateway input[type="checkbox"],
#formEditGateway input[type="checkbox"] {
  margin-top: 1rem;
  width: auto;
}

#formEngrasadora select,
#formEngrasadora option,
#formEngrasadora input,
#formGateway select,
#formGateway option,
#formGateway input {
  color: var(--color-primario);
  background-color: var(--color-texto);
}

.full {
  grid-column: 1 / -1;
}

#formEngrasadora .btn,
#formGateway .btn,
#formEditGateway .btn {
  grid-column: 1 / -1;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#formEngrasadora button[type="submit"],
#formGateway button[type="submit"],
#formEditGateway button[type="submit"] {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: var(--color-secundario);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#formEngrasadora button[type="submit"]:hover,
#formGateway button[type="submit"]:hover,
#formEditGateway button[type="submit"]:hover {
  background-color: var(--color-pstv);
}

#mensaje {
  grid-column: 1 / -1;
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
}

#mensaje.exito {
  color: var(--color-pstv);
}

#mensaje.error {
  color: var(--color-error);
}

#conectadasContainer input.id {
  color: black;
}
