.analytics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  align-content: center;
}

.chart {
  width: 45vw;
  height: 45vh;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.analytics-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
